.appContent {
    margin-bottom: 88px;
  }
  
  .welcome {
    margin: auto;
    padding: 10px;
  }
  
  .form {
    text-align: center;
    background-color: #e9e9e9;
    position: fixed;
    padding: 20px;
    bottom: 0;
    z-index: 1;
    width: calc(100% - 40px);
  }
  
  .avatar {
    transform: translateY(10px);
    width: 40px;
    border-radius: 50%;
  }
  
  .formcontrol {
    display: flex !important;
    flex-direction: row !important;
  }
  
  .formmessage {
    flex: 1;
  }
  
  .formbutton {
    flex: 0;
  }